{% extends 'base/base.html' %}
{% load i18n %}
{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="#">Usuario</a>
  </li>
  <li class="breadcrumb-item acive">Recuperar Contraseña</li>
{% endblock %}
{% block content %}
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">Recuperar Contraseña</div>
    <div class="card-body">
      <div class="text-center mb-4">
        <h4>¿Olvidaste tu contraseña?</h4>
        <p>Ingrese su dirección de correo electrónico y le enviaremos instrucciones sobre cómo restablecer su contraseña.</p>
      </div>
      <form>
        <div class="form-group">
            <label for="{{ form.email.auto_id }}">{{ form.email.label_tag }}</label>
            <input type="email" id="id_email" class="form-control" required="required" autofocus="autofocus" name="email">
        </div>
        <button type="submit" class="btn btn-primary btn-block" data-toggle="tooltip">Enviar</button>
      </form>
      <div class="text-center">
        <a class="d-block small mt-3" href="{% url 'user:profile_create' %}">Registrar una cuenta</a>
        <a class="d-block small" href="{% url 'user:login' %}">Iniciar Sesión</a>
      </div>
    </div>
  </div>
  <br>
{% endblock %}