{% extends 'base/base.html' %}
{% load i18n %}
{% block content_header_title %}Usuario{% endblock %}
{% block contenido %}
    <div class="panel panel-default">
        {% if validlink %}
            <div class="panel-heading">
                <h3 class="text-left">Nueva Contraseña</h3>
            </div>
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}

                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">Nueva contraseña:</label>
                    {{ form.new_password1 }}

                    {{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirme contraseña:</label>{{ form.new_password2 }}
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary btn-sm" data-toggle="tooltip">{% trans 'Enviar' %}</button>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="panel-heading">
                <h3 class="text-leftr">Enlace Inválido</h3>
            </div>
            <div class="panel-body">
                <p class="text-center">ESTE ENLACE YA HA SIDO UTILIZADO</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
