{% extends 'base/base.html' %}
{% load i18n %}
{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="#">Usuario</a>
    </li>
    <li class="breadcrumb-item active">Nueva Contraseña</li>
{% endblock %}
{% block content %}
    <div class="card md-3">
        {% if validlink %}
            <form method="post">
                {% csrf_token %}
                <div class="card-header">Nueva Contraseña</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group {% if form.new_password1.errors %}has-error{% endif %}">
                                <label class="col-xl-5 col-lg-5 col-md-5 col-sm-5 control-label" for="{{ form.new_password1.auto_id }}">
                                    {{ form.new_password1.label_tag }}
                                </label>
                                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7">
                                    <div class="form-inline">
                                        {{ form.new_password1 }}
                                        <i class="fa fa-asterisk item-required" aria-hidden="true"></i>
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.new_password1.errors col_title_error='col-sm-4' col_msg_error='col-sm-8' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group {% if form.new_password2.errors %}has-error{% endif %}">
                                <label class="col-xl-5 col-lg-5 col-md-5 col-sm-5 control-label" for="{{ form.new_password2.auto_id }}">
                                    {{ form.new_password2.label_tag }}
                                </label>
                                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7">
                                    <div class="form-inline">
                                        {{ form.new_password2 }}
                                        <i class="fa fa-asterisk item-required" aria-hidden="true"></i>
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.new_password2.errors col_title_error='col-sm-4' col_msg_error='col-sm-8' %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer small text-right">
                        <button type="submit" class="btn btn-primary btn-sm" data-toggle="tooltip">{% trans 'Enviar' %}</button>
                    </div>
                </div>
            </form>
        {% else %}
            <div class="card-header">Enlace Inválido</div>
            <div class="card-body">
                <p class="text-center">ESTE ENLACE YA HA SIDO UTILIZADO</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
