{% extends 'base/base.html' %}
{% load i18n %}
{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="#">Usuario</a>
    </li>
    <li class="breadcrumb-item acive">Recuperar Contraseña</li>
{% endblock %}
{% block content %}
    <div class="card mb-3">
        <form method="post">
            {% csrf_token %}
            <div class="card-header">Recuperar Contraseña</div>
            <div class="card-body">
                <label for="{{ form.email.auto_id }}">{{ form.email.label_tag }}</label> {{ form.email }}
            </div>
            <div class="card-footer small text-right">
                <button type="submit" class="btn btn-primary btn-sm" data-toggle="tooltip">Enviar</button>
            </div>
        </form>
    </div>
{% endblock %}
