{% load i18n %}
{% for message in messages %}
    {% if message %}
        <script type="text/javascript">
            var msg = "{{ message }}";
            var modal = bootbox.dialog({
                message: msg,
                title: "{% trans 'Aviso' %}",
                buttons: {
                    success: {
                        label: "{% trans 'Cerrar' %}",
                        className: "btn-info",
                        callback: function() {

                        }
                    }
                }
            });
            $(modal).find(".bootbox-body").addClass('text-justify');
        </script>
    {% endif %}
{% endfor %}
