<nav class="navbar navbar-expand navbar-dark bg-dark static-top" id="mainNav">
  <a class="navbar-brand mr-1" href="{% url 'base:home' %}">Ejemplo Django</a>
  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
    <i class="fas fa-bars"></i>
  </button>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
    <li class="nav-item dropdown no-arrow">
      {% if request.user.is_authenticated %}
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
          {{ request.user.username }}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="{% url 'user:profile_detail' request.user.id %}">Detalles</a>
          <a class="dropdown-item" href="{% url 'user:profile_update' request.user.id %}">Perfil</a>
          <a class="dropdown-item" href="{% url 'user:password_change' %}">Cambiar Contraseña</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'user:logout' %}"
            onclick="event.preventDefault();document.getElementById('logout-form').submit();"><i class="fas fa-sign-out-alt"></i>Salir</a>
          <form id="logout-form" method="post" action="{% url 'user:logout' %}" class="d-none">
            {% csrf_token %}
          </form>
        </div>
      {% else %}
        <a class="nav-link" href="{% url 'user:login' %}">
          <i class="fas fa-sign-in-alt"></i> Iniciar Sesión
        </a>
      {% endif %}
    </li>
  </ul>
</nav>